body, ul, h2, p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: #111;
    color: #999;
}
@import url('file:///C:\Users\zldrb\Downloads\Music_Player\style.css');

#teampage, #videopage {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#musicpage{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-item {
    flex-basis: 18%;
    flex-shrink: 0;
    margin: 0 4px;
    opacity: 0.4;
    transition: all .4s;
}

.team-item:hover {
    opacity: 1;
    flex-basis: 22%;
    margin: 0 20px;
}

.team-item img {
    width: 100%;
}

.profile {
    position: relative;
    overflow: hidden;
}

.profile:before {
    content: ' ';
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
}

.profile_red {
    color: #ff4949;
}

.profile_beige {
    color: beige;
}

.profile_green {
    color: darkseagreen;
}

.profile_pink {
    color: pink;
}

.profile_purple {
    color: violet;
}

.profile-contents {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.profile-contents h2 {
    font-size: 17px;
}

.profile-contents h2 span {
    display: block;
    font-size: 10px;
}

.profile-contents p {
    color: white;
    font-size: 10px;
    min-width: 300px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.2;
    transition: all 1s;
    opacity: 0;
}

.team-item:hover .profile-contents p {
    opacity: 1;
    transition-delay: .4s;
    max-height: 6em;
    margin-top: 0.4em;
}

/*사이드 바*/
#mysidvav{
    margin-top: auto;
}

#mySidenav a {
    position: fixed;
    left: -85px;
    transition: 0.3s;
    padding: 15px;
    width: 80px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    margin-top: 18%;
    background-color: #313332;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #team {
    top: 20px;
  }
  
  #video {
    top: 80px;
  }
  
  #music {
    top: 140px;
  }
  
  #contact {
    top: 200px;
  }

/*video 플레이어*/
.carousel-control-next, .carousel-control-prev {
    margin: 15% 0 0 0;
    height: 50%;
}

.disabled {
    pointer-events: none;
}

/*music 플레이어*/
#musicpage{
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#playmusic{
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.track-art{
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow:0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius: 190px;
}
.now-playing{
    font-size: 1rem;
}
.track-name{
    font-size: 2.5rem;
}
.track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.active{
    color: black;
}
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
    opacity: 1.0;
}
.slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seek_slider,
.volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover{
    opacity: 1.0;
}
.seek_slider{
    width: 60%;
}
.volume_slider{
    width: 30%;
}
.current-time,
.total-duration{
    padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up{
    padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
    cursor: pointer;
}
.randomActive {
    color: #5C5858;
}
.rotate{
    animation: rotation 8s infinite linear;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.loader{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .stroke{
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 5px;
    animation: animate 1.4s linear infinite;
}
@keyframes animate{
    50%{
        height: 20%;
        background: #4286f4;
    }
    100%{
        height: 100%;
    }
}
.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}


